<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760996858693-ldt9fcj78gdb9pv0k01d0jrn38ep3bjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760996858693-ldt9fcj78gdb9pv0k01d0jrn38ep3bjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCFZTe00vzYz0yxLNKqEiE0uo3dATrEdYw</string>
	<key>GCM_SENDER_ID</key>
	<string>760996858693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playground.WTbeta</string>
	<key>PROJECT_ID</key>
	<string>wtbeta-e8ece</string>
	<key>STORAGE_BUCKET</key>
	<string>wtbeta-e8ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760996858693:ios:16889eddaf4a47a45e0c2c</string>
</dict>
</plist>